@import "tailwindcss";

/* Custom theme variables */
@theme {
  --color-primary: #5048e5;
  --color-background-light: #f6f6f8;

  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

/* Font */
html {
  font-family: var(--font-inter);
}
